<h1>Add Movies</h1>

<div>
	<div>
		<%= form_for(@movie) do |f| %>
		  <%= f.text_field :title %>
		  <%= f.text_field :showtime %>
		  <%= f.submit "Add Movie", class:"btn btn-primary" %>
		  <% end %>
	</div>
</div>

