<header class="navbar ">
  <div >
    <nav>
      <ul class="nav nav-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Now Playing",    movies_path %></li>
        <li><%= link_to "Buy Ticket", orders_new_path %>
        
      </ul>
    </nav>
  </div>
</header>